@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Law Firm</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Law Firm</h2>
        <p>
            A law firm is a business entity formed by one or more lawyers to engage in the practice of law. The primary service rendered by a law firm is to advise clients individuals or corporations about their legal rights and responsibilities, and to represent clients in civil or criminal cases, business transactions, and other matters in which legal advice and other assistance are sought.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ranks 100 in the forbes</h2>
        <p>
            We are a leader according to Forbes magazin.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/SergeyYagovets?tab=repositories">See project source code &raquo;</a></p>
    </div>
</div>